<!--客户-->
<div class="contact">
  <div class="container-fluid dark-bg text-center">
    <div class="title">
      <h2 class="text-center">我们的客户</h2>
      <div></div>
    </div>
    <div class="container text-center clients">
      <img src="/public/assets/images/main/c1.png" class="scrollimation scale-in in">
      <img src="/public/assets/images/main/c2.png" class="scrollimation scale-in in">
      <img src="/public/assets/images/main/c3.png" class="scrollimation scale-in in">
      <img src="/public/assets/images/main/c4.png" class="scrollimation scale-in in">
      <img src="/public/assets/images/main/c5.png" class="scrollimation scale-in in">
      <img src="/public/assets/images/main/c6.png" class="scrollimation scale-in in">
      <img src="/public/assets/images/main/c7.png" class="scrollimation scale-in in">
      <img src="/public/assets/images/main/c8.png" class="scrollimation scale-in in">
      <img src="/public/assets/images/main/c9.png" class="scrollimation scale-in in">
      <img src="/public/assets/images/main/c10.png" class="scrollimation scale-in in">
      <img src="/public/assets/images/main/c11.png" class="scrollimation scale-in in">
      <img src="/public/assets/images/main/c12.png" class="scrollimation scale-in in">
      <img src="/public/assets/images/main/c13.png" class="scrollimation scale-in in">
      <img src="/public/assets/images/main/c14.png" class="scrollimation scale-in in">
      <img src="/public/assets/images/main/c15.png" class="scrollimation scale-in in">
      <img src="/public/assets/images/main/c16.png" class="scrollimation scale-in in">
      <img src="/public/assets/images/main/c17.png" class="scrollimation scale-in in">
      <img src="/public/assets/images/main/c18.png" class="scrollimation scale-in in">
      <img src="/public/assets/images/main/c19.png" class="scrollimation scale-in in">
    </div>
    <div id="wechat" class="contact-btn container scrollimation scale-in in">
      <img src="/public/assets/images/product/wechat.jpg">
      <h4>详细服务及报价，请扫二维码加入我们的微信服务号进行咨询</h4>
      <p>或</p>
      <p>微信搜索公众号：Vshow球幕创意</p>
    </div>
  </div>
</div>
<!--客户-->
<!--底部-->
<div class="footer">
  <div class="container">
    <div class="col-sm-8 text-left">© 2017 深圳市微秀文化传播有限公司 版权所有 粤ICP备17128504号-1</div>
    <div class="col-sm-4 text-right"><i class="fa fa-desktop" aria-hidden="true"></i>  VSHOWDOME.COM</div>
  </div>
</div>
<!--底部-->
